<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>LOLFIGHT 계정 인증 메일 안내</title>
  </head>
  <body style='font-family: Arial, sans-serif; margin: 0; padding: 0'>
    <table
      role='presentation'
      cellspacing='0'
      cellpadding='0'
      width='800px'
      style='border-collapse: collapse'
    >
      <tr>
        <td style='padding: 20px; border: 1px solid #ccc'>
          <a
            href='https://lolfight.kr'
            target='_blank'
            style='text-decoration: none'
          >
            <table
              role='presentation'
              cellspacing='0'
              cellpadding='0'
              width='100%'
              style='border-collapse: collapse'
            >
              <tr>
                <td
                  align='center'
                  valign='middle'
                  style='
                    background-color: #11235a;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 10px;
                  '
                >
                  <img
                    src='https://lolfight.kr/api/public/image/icon.png'
                    width='80px'
                    alt='LOL.FIGHT'
                    style='vertical-align: middle'
                  />
                  <span
                    style='
                      font-size: 48px;
                      font-weight: bold;
                      margin-left: 10px;
                    '
                  >LOL.FIGHT</span>
                </td>
              </tr>
            </table>
          </a>
          <div style='text-align: center; margin-top: 20px'>
            <p style='font-size: 25px; font-weight: bold'>
              LOLFIGHT 계정 인증 메일 안내
            </p>
          </div>
          <div style='margin-top: 20px'>
            <p>
              <span style='color: #11235a; font-weight: bold'>LOLFIGHT</span>에
              오신 것을 환영합니다!<br />계정을 인증하려면 아래의 코드를
              입력해주세요.
            </p>
          </div>
          <div
            style='
              text-align: center;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              margin-top: 20px;
              padding: 10px;
            '
          >
            <p style='font-size: 18px; margin: 0'>
              인증코드:
              <span style='font-size: 24px; font-weight: bold'>{{code}}</span>
            </p>
          </div>
          <div style='margin-top: 20px'>
            <p style='font-size: 13px; font-weight: bold; margin: 0'>
              ※계정 인증 메일 안내란?
            </p>
            <p style='font-size: 10px; color: rgb(75, 73, 73); margin: 0'>
              LOLFIGHT의 신규회원의 회원가입 또는 계정의 정보를 찾거나 수정하기
              위해 요청한 경우 발송됩니다.
            </p>
          </div>
          <div style='margin-top: 20px'>
            <p style='font-size: 13px; font-weight: bold; margin: 0'>
              ※지금 받은 이메일로 가입한적이 없습니까?
            </p>
            <p style='font-size: 10px; color: rgb(75, 73, 73); margin: 0'>
              타인이 이메일을 도용했거나, 잘못 입력 했을 가능성이 있습니다.<br
              />만약 도용이 의심되신다면
              <a
                href='https://support.google.com/mail/answer/8253?hl=ko'
                target='_blank'
              >Google 이메일 도용신고</a>와
              <a
                href='https://help.naver.com/service/5640/contents/10178?lang=ko'
                target='_blank'
              >Naver 이메일 도용신고</a>를 확인해 주십시오.
            </p>
          </div>
          <div
            style='
              background-color: rgb(226, 226, 226);
              text-align: center;
              padding: 10px;
            '
          >
            <p style='font-size: 11px; color: rgb(155, 155, 155); margin: 0'>
              본 메일은 발신전용이며 궁금하신 사항은 알아서하십쇼<br />© 2023
              LOLFIGHT Inc. All rights reserved.
            </p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>